* {
    Margin:0;
    Padding:0;
    Border: none;
    Text-decoration: none;
    Box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: regular;
    
}

html {
    Font-size:  62.5%
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #239aff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    width: 100%;
    padding: 5px;
}

main {
    display: grid;
    grid-template-columns: 49rem 54.7rem;
    color: #314363;
    margin-top: 5.0rem;
}

form {
    background-color: #239aff;
    border: #314363 0.2rem solid;
    padding: 1.5rem;
    width: 49.0rem;
}

footer {
    margin-top: 10.0rem;
    background-color: #239aff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f2f2f2;
    width: 100%;
    padding: 5px; 
}

.h1-header {
    font-size: 3.5rem;
}

.span-header{
    font-size: 2.6rem;
    margin-left: 5px;
    margin-right: 19rem;
    color: black;
}

.a-header {
   margin-left: 1.5rem;
   font-size: 2.6rem;
   color:#f2f2f2;
}

.sidebar {
    margin-top: 8.7rem;
    margin-left: 22.0rem;
    margin-right: 9.7rem;
    background-color: #314363;
    width: 29.0rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-sidebar {
    width: 39.0rem;
    height: 39.0rem;
    margin-right: 9.5rem;
    margin-bottom: 41.0rem;
}

.a-main {
    font-size: 2.2rem;
}

.span-main {
    margin-right: 0.5rem;
}

.h1-main {
    margin-top: 5.0rem;
    margin-bottom: 3.5rem;
    font-size: 5.0rem;
}

.h3-main {
    margin-bottom: 3.0rem;
    font-size: 3.5rem;
}

.h4-main {
    margin-bottom: 1.0rem;
    font-size: 2.2rem;
}

.p-main {
    margin-bottom: 3.0rem;
    font-family: PT serif;
    font-size: 1.9rem;
}

.h2-form {
    font-size: 2.6rem;
}

.div-form {
    border: solid 0.2rem #314363;
    padding: 2.0rem;
}

.label-form {
    font-size: 2.2rem;
}

.input-form {
    display: block;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    width: 41.2rem;
    height: 3.3rem;
    outline: none;
    padding: 0.5rem;
    border: 3px solid #4A85AF;
    border-radius: 5px;
}

.label-form-inline {
    font-size: 2.2rem;
    position: absolute;
}

.input-form-inline-menor {
    margin-top: 4.0rem;
    margin-right: 1.5rem;
    margin-bottom: 1.0rem;
    width: 17.3rem;
    height: 3.3rem;
    outline: none;
    padding: 0.5rem;
    border: 3px solid #4A85AF;
    border-radius: 5px;
}

.input-form-inline-maior {
    width: 22.0rem;
    height: 3.3rem;
    outline: none;
    padding: 0.5rem;
    border: 3px solid #4A85AF;
    border-radius: 5px;
}

.div-form-anexar-curriculo {
    margin-top: 4.5rem;
    margin-bottom: 4.2rem;
    display: flex;
}

.label-form-anexar-curriculo {
    margin-top: 4.0rem;
    margin-right: 1.0rem;
    font-size: 2.0rem;
    width: 16.5rem;
    height: 4.0rem;
    background: #4A85AF;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input-form-anexar-curriculo {
    display: none;
}

.p-form-anexar-curriculo {
   margin-top: 3rem;
   font-size: 1.6rem;
   font-weight: ligth;
   width: 25.0rem;
}

.div-form-button-submit {
    display: flex;
    justify-content: flex-end;
}

.button-form-submit {
    width: 16.5rem;
    height: 4.0rem;
    font-size: 2.0rem;
    color: #f2f2f2;
    background-color: #314363;
    margin-top: 2.0rem;
}

.h1-footer {
    font-size: 2.4rem;
}

.p3-footer {
    font-size: 1.1rem;
    margin-left: 25.0rem;
}

.span-footer {
    font-size: 1.6rem;
    margin-left: 0.5rem;
    color: black;
}

@media (max-width: 1900px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 1250px) {
    html {
        font-size: 50%;
    }
}
 
@media (max-width: 1000px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 35%;
    }
}

@media (max-width: 750px) {
    html {
        font-size: 25%;
    }
    main {
        grid-template-columns: 30rem 40rem;
    }
    .span-header {
        margin-right: 5rem;
    }
    .input-form-inline-maior {   
        height: 5.0rem;
        width: 21rem;
    }

    .input-form-inline-menor {
        height: 5.0rem;
    }

    .input-form {
        height: 5.0rem;
    }
}
@media (max-width: 500px) {
    html {
        font-size: 25%;
    }
    main {
        grid-template-columns: 30rem 40rem;
    }
    .span-header {
        margin-right: 2rem;
    }
    .input-form-inline-maior {
        width: 21rem;
    }
}

@media (max-width: 430px) {
    html {
        font-size: 25%;
    }
 
}

@media (max-width: 380px) {
    html {
        font-size: 25%;
    }
    main {
        grid-template-columns: 30rem 40rem;
    }
}

@media (max-width: 330px) {
    html {
        font-size: 30%;
    }
    main {
        grid-template-columns: 30rem;
    }
    .input-form-inline-maior {
        width: 19rem;
    }
}

@media (max-width: 310px) {
    html {
        font-size: 25%;
    }
    main {
        grid-template-columns: 30rem 40rem;
    }
}


@media (max-width: 600px) {
    img {
        width: 25.5%;
    }
} 